.general-links {
  flex: 1;
  background-color: $light-color;
  order: 4;

  a {
    text-decoration: none;
    color: $dark-color;
  }
}

.general-links .link-icons .icon-links:before {
  content: '\004c';
  font-size: $basic-font-size;
  color: $notification-color;
}

.general-links .link-icons .icon-trash:before {
  content: '\005a';
  font-size: $basic-font-size;
}

.general-links .flex-row {
  font-size: $basic-font-size;
  font-weight: $font-weight-medium;
  height: 40px;
  max-width: 540px;
  margin: 10px auto;
  border-bottom: 1px solid $dark-color;
  align-items: center;

  &:hover {
    background-color: $basic-color;
    font-weight: $font-weight-semi-bold;
    transform: $transition;

    .link-icons span {
      opacity: 1;
    }
  }
}

.flex-row .link-name {
  max-width: 200px;
  text-align: left;
}

.flex-row .link-addres {
  max-width: 250px;
  text-align: left;
}

.flex-row .link-icons {
  min-width: 40px;
  margin: 0 5px;
  text-align: left;

  span {
    font-size: $basic-font-size;
    margin: 0 5px;
    opacity: 0;
  }
}

.button-add {
  text-align: center;
  margin: 30px auto;
  color: $light-color;

  a {
    color: $light-color;
  }
}