.sidebar {
  flex: 250px;
  background: $dark-color;
  height: 100vh;
  width: 220px;
  position: fixed;
}

.sidebar .sidebar-logo {
  padding: 10px 20px;
}

.sidebar .hamburger {
  padding: 0 20px;
}

.sidebar .sidebar-menu {
  border-bottom: 1px solid $grey-color;
}

.sidebar ul {
  margin-bottom: 20px;
  padding: 0;
}

.sidebar .subpages li{
  display: block;
  margin-top: 10px;
  height: 30px;
  width: 100%;

  
  .active {
    display: block;
    margin: 0 0;
    font-size: $basic-font-size;
    color: $light-color;
    background-color: $grey-color;
    border-left: 3px solid $notification-color;
  }

  &:hover {
    background-color: $grey-color;
    transform: $transition;
    border-left: 3px solid $notification-color;

    a {
      display: block;
      margin: 5px 0;
      color: $light-color;
      transform: $transition;
    }

    [class*='icon-'] {
      color: $light-color;
      transform: $transition;
    }
  }
}

.sidebar .subpages a {
  text-decoration: none;
  color: $basic-color;
  font-size: $basic-font-size;
}

.sidebar .subpages [class*='icon-'] {
  font-size: $basic-font-size;
  margin-right: 20px;
  color: $basic-color;
  margin-top: 10px;
}

.sidebar .subpages span {
  margin: 10px 20px;
  align-items: center;
}

/*.sidebar .sidebar-menu .subpages .sidebar-link.active {
  color: $light-color;
  background-color: $grey-color;
  border-left: 3px solid $notification-color;
}*/