/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: $basic-font;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.flex-container {
  display: flex;
  background-color: $basic-color;
}

.main-content {
  width: 100wh;
  margin: 60px 20px 20px 240px;
  background-color: $basic-color;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

hr {
  color: $grey-color;
}

.subpage-off {
  display: none;
}

.col-1 {flex: 8.333%;}

.col-2 {flex: 16.667%;}

.col-3 {flex: 25%;}

.col-4 {flex: 33.333%;}

.col-5 {flex: 41.667%;}

.col-6 {flex: 50%;}

.col-7 {flex: 58.333%;}

.col-8 {flex: 66.667%;}

.col-9 {flex: 75%;}

.col-10 {flex: 83.333%;}

.col-11 {flex: 91.667%;}

.col-12 {flex: 100%;}