/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: $basic-font;
  font-size: 12px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    width: 100% / 12 * $i;
    flex: 0 0 width;
    max-width: width;
  }
}

@for $i from 1 through 12 {
  .col-md-#{$i} {
    width: 100% / 12 * $i;
    flex: 0 0 width;
    max-width: width;
  }
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    width: 100% / 12 * $i;
    flex: 0 0 width;
    max-width: width;
  }
}

@for $i from 1 through 12 {
  .col-xl-#{$i} {
    width: 100% / 12 * $i;
    flex: 0 0 width;
    max-width: width;
  }
}

.flex-container {
  display: flex;
  background-color: $basic-color;
}

.main-content {
  margin: 50px 20px 20px 240px;
  background-color: $basic-color;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*Media*/
/*@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $dark-color;
    position: fixed;
    order: 1;

    .subpages span {
      padding-left: 10px;
    }
  }

  .topbar {
    position: absolute;
    left: 0px;
    width: 75%;
    margin: 0 0;
    padding: 0 0;
    top: 40%;
    transform: translateY(40%);
    z-index: 2;

    ul li {
      float: none;
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    @include sidebar;
  }
}

@media (min-width: 992px) {
  .sidebar {
    @include sidebar;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    @include sidebar;
  }
} */

.col-1 {flex: 8.333%;}

.col-2 {flex: 16.667%;}

.col-3 {flex: 25%;}

.col-4 {flex: 33.333%;}

.col-5 {flex: 41.667%;}

.col-6 {flex: 50%;}

.col-7 {flex: 58.333%;}

.col-8 {flex: 66.667%;}

.col-9 {flex: 75%;}

.col-10 {flex: 83.333%;}

.col-11 {flex: 91.667%;}

.col-12 {flex: 100%;}