/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

/*Media*/
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

html {
  font-family: $basic-font;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.flex-container {
  display: flex;
  background-color: $basic-color;
}

.main-content {
  margin: 60px 20px 20px 240px;
  background-color: $basic-color;
  
  @include mobile {
    margin: 70px 20px 20px 90px;
  }
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;

  @include mobile {
    margin-bottom: 40px;
    flex-direction: column;
    margin-left: 90px;
    font-size: $mobile-font-size;
    justify-items: left;
  }
}

.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include mobile {
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: $mobile-font-size;
    justify-items: left;
  }
}

.col-1 {flex: 8.333%;}

.col-2 {flex: 16.667%;}

.col-3 {flex: 25%;}

.col-4 {flex: 33.333%;}

.col-5 {flex: 41.667%;}

.col-6 {flex: 50%;}

.col-7 {flex: 58.333%;}

.col-8 {flex: 66.667%;}

.col-9 {flex: 75%;}

.col-10 {flex: 83.333%;}

.col-11 {flex: 91.667%;}

.col-12 {flex: 100%;}