/* Colors */
$notification-color: #fd9644;
$dark-color: #000000;
$grey-color: #34495e;
$brand-main-color: #ff0000;
$basic-color: #dfe6e9;
$light-color: white;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$just-font: 'Satisfy', cursive;

/* Transform */
$transition: all 0.5s;