/* Colors */
$notification-color: #fd9644;
$green-dot-color: #4cd137;
$dark-color: #000000;
$grey-color: #34495e;
$brand-main-color: #ff0000;
$basic-color: #dcdde1;
$light-color: white;

/* Font sizes */
$mobile-font-size: 12px;
$paragraph-font-size: 16px;
$basic-font-size: 18px;

/* Font weight */
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Fonts */
$basic-font: 'Roboto', sans-serif;
$brand-font: 'Open Sans', Helvetica, Arial;
$paragraph-font: 'Open Sans', Helvetica, Arial;
$just-font: 'Satisfy', cursive;

/* Transform */
$transition: all 0.5s;