/*Global style button*/
.btn {
  display: inline-block;
  min-width: 120px;
  margin: 10px auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $basic-font;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-add {
  border-color: $notification-color;
  background-color: $notification-color;

  &:hover {
    color: $light-color;
  }
}

/*Button Hamburger*/

.hamburger {
  i.fas.fa-bars {
    color: $light-color;
    font-size: 3rem;
    padding-left: 90%;
  }

  span {
    top: -10px;
  }
}