/*Global style button*/
.btn {
  display: inline-block;
  min-width: 120px;
  margin: 10px auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $brand-font;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-add {
  border-color: $notification-color;
  background-color: $notification-color;

  &:hover {
    color: $light-color;
  }
}

/*Button Hamburger*/
.hamburger {
  width: 25px;
  height: 25px;
  left: 30px;
  bottom: 20px;
  border: 0;
  border-top: 5px solid $basic-color;
  background: transparent;
  padding: 0 10px;
  position: relative;
  
  &:hover {
    border-color: $light-color;
    transform: $transition;
  }
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid $basic-color;
  transform: translateY(10px);
}

.hamburger:hover::before, .hamburger:hover::after {
  border-color: $light-color;
  transform: $transition;
}

.hamburger::after {
  transform: translateY(24px);
}