.sidebar .managers {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  padding-left: 10px;

  @include mobile {
    top: 65%;
    transform: translateY(65%);
  }

  .manager-title h3 {
    margin: 20px 0 0 20px;
    padding: 20px 0;
    color: $basic-color;
  }
}

.sidebar .managers .manager-info a {

  display: block;
  text-decoration: none;
  font-size: $paragraph-font-size;
  color: #3498db;
  
  &:hover {
    color: $notification-color;
    transform: $transition;
  }

  .manager-foto {
    padding: 0 10px;
  }
}

.sidebar .managers .manager-info {
  position: relative;

  .manager-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
  }

  .green-dot {
    position: absolute;
    background-color: $green-dot-color;
    top: 3px;
    left: 42px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
  }
}
